.preview_container{
    margin-top:20px;
    padding: 0 20px;
    .summary, .preview {
        margin-top: 30px;
    }
    .missingValues, .skewness{
        margin: 30px 0px;
    }
    .preview-scroll, .summary-scroll, .missing-values-scroll, .skewness-values-scroll{
        padding-bottom: 10px;
        overflow-x: auto;
    }
}

.next-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 20px 20px;
}

.select-file-name{
    margin-right: 20px;
    font-size: 16px;
    font-weight: 500;
}

.preview_unavailable{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-size: 36px;
    font-weight: 400;
}

.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
  }
  