.side-nav-icons-container{
    height: 60px;
    width: 60px;
    background: #ffffff;
    border-radius: 6px;
    margin: 20px;
    cursor: pointer;
}

.mat-list-base{
    padding-top: 0px !important;
}

