.fs_container{
    margin-top:20px;
    .fs, .fs-enable {
        margin-top: 30px;
    }
    .fs-plots {
        margin: 30px 0px;

        .chart-container{
            display: flex;
            flex-direction: row;
        }
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
      tr:hover {
        background-color: #bdbbd3;
    
      }
}