$break-small: 768px;
$break-large: 1024px;

.login-container{
  display: flex;
  flex-direction: row;
  justify-content: center;

  .l_1, .l_3 {
    flex: 35%;
    @media screen and (max-width: $break-small) {
      flex: 30%;
    }
  }

  .l_2 {
    flex: 30%;
    height: 50vh;
    margin-top:10vh;
    @media screen and (max-width: $break-small) {
      flex: 40%;
    }
  }
}
