<div class="login-container">
    <div class="l_1"></div>
    <div class="l_2">
        <mat-card>
            <mat-card-title-group>
                <mat-card-title>Login</mat-card-title>
                <!-- <mat-card-subtitle>Login as Super Admin</mat-card-subtitle> -->
            </mat-card-title-group>
            <mat-card-content>
                <form [formGroup]="loginForm" style="display:flex; flex-direction: column;">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="email" formControlName="email"
                            autocomplete="off" />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="password" formControlName="password"
                            autocomplete="off" />
                    </mat-form-field>
                </form>
                <mat-card-actions style="display: flex; flex-direction: row-reverse;">
                    <button mat-raised-button color="primary" (click)="login()">Login</button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="l_3"></div>
</div>