<table *ngIf="isSummary">
    <tr>
        <th></th>
        <th *ngFor="let item of columns">{{item}}</th>
    </tr>
    <tr>
        <td *ngFor="let key of objectKeys(describeRows[0])"><span class="span-font">{{key}}</span></td>
        <td *ngFor="let val of describeRows[0]['count']">{{val}}</td>
    </tr>
    <tr>
        <td *ngFor="let key of objectKeys(describeRows[1])"><span class="span-font">{{key}}</span></td>
        <td *ngFor="let val of describeRows[1]['mean']">{{val}}</td>
    </tr>
    <tr>
        <td *ngFor="let key of objectKeys(describeRows[2])"><span class="span-font">{{key}}</span></td>
        <td *ngFor="let val of describeRows[2]['std']">{{val}}</td>
    </tr>
    <tr>
        <td *ngFor="let key of objectKeys(describeRows[3])"><span class="span-font">{{key}}</span></td>
        <td *ngFor="let val of describeRows[3]['min']">{{val}}</td>
    </tr>
    <tr>
        <td *ngFor="let key of objectKeys(describeRows[4])"><span class="span-font">{{key}}</span></td>
        <td *ngFor="let val of describeRows[4]['25%']">{{val}}</td>
    </tr>
    <tr>
        <td *ngFor="let key of objectKeys(describeRows[5])"><span class="span-font">{{key}}</span></td>
        <td *ngFor="let val of describeRows[5]['50%']">{{val}}</td>
    </tr>
    <tr>
        <td *ngFor="let key of objectKeys(describeRows[6])"><span class="span-font">{{key}}</span></td>
        <td *ngFor="let val of describeRows[6]['75%']">{{val}}</td>
    </tr>
    <tr>
        <td *ngFor="let key of objectKeys(describeRows[7])"><span class="span-font">{{key}}</span></td>
        <td *ngFor="let val of describeRows[7]['max']">{{val}}</td>
    </tr>
</table>

<table *ngIf="!isSummary && !isSkewness">
    <tr>
        <th></th>
        <th *ngFor="let item of columns">{{item}}</th>
    </tr>
    <tr>
        <td *ngFor="let key of objectKeys(describeRows[0])"><span class="span-font">{{key}}</span></td>
        <td *ngFor="let val of describeRows[0]['count']">{{val}}</td>
    </tr>
    <tr>
        <td *ngFor="let key of objectKeys(describeRows[1])"><span class="span-font">{{key}}</span></td>
        <td *ngFor="let val of describeRows[1]['percentage']">{{val}}</td>
    </tr>
</table>

<table *ngIf="isSkewness">
    <tr>
        <th></th>
        <th *ngFor="let item of columns">{{item}}</th>
    </tr>
    <tr>
        <td *ngFor="let key of objectKeys(describeRows[0])"><span class="span-font">{{key}}</span></td>
        <td *ngFor="let val of describeRows[0]['skewness']">{{val}}</td>
    </tr>
    <tr>
        <td *ngFor="let key of objectKeys(describeRows[1])"><span class="span-font">{{key}}</span></td>
        <td *ngFor="let val of describeRows[1]['kurtosis']">{{val}}</td>
    </tr>
</table>