<div style="display: flex; justify-content: center;">
    <div class="example-container">
        <h2>Columns Available</h2>

        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="original_columns" [cdkDropListConnectedTo]="[doneList]"
            class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of original_columns" cdkDrag>{{item}}</div>
        </div>
    </div>

    <div class="example-container">
        <h2>Final Columns</h2>

        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="feature_columns" [cdkDropListConnectedTo]="[todoList]"
            class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of feature_columns" cdkDrag>{{item}}</div>
        </div>
    </div>
</div>