
.active-route {
    border-bottom: 3px solid white;
}

.home-class{
    font-size: 24px;
}

#mainToolbar .toolbarSpacer {
  flex: 1 1 auto;
}

#mainToolbar .toolbar-avatar {
  background-size: cover;
  // box-shadow: none;
}